block active
  //- This block is used to set the active view name
  //- then we check it against the sidebar configuration 
  //- to set as active the current sidebar item 

mixin build_sidebar_tree(tree)
  - each item in tree

    //- check only items, we will active parents later using client-side JS
    - item.active = (sidebar_active==item.href)
    
    li(class=(item.heading?'nav-heading':'')+' '+(item.active?'active':''))
      - var label = item.label || 'label label-success'
      - if (item.heading)
        span(data-localize=item.translate)= item.text
      - else
        - if (item.submenu)
          a(href=item.href, title=item.text, data-toggle="collapse")
            - if (item.alert)
              .pull-right(class=label)= item.alert
            - if (typeof item.icon !== 'undefined')
              em(class=item.icon)
            span(data-localize=item.translate)= item.text
          ul.nav.sidebar-subnav.collapse(id=item.href.replace('#',''))
            li.sidebar-subnav-header= item.text
            +build_sidebar_tree(item.submenu)
        - else
          a(href=item.href, title=item.text)
            - if (item.alert)
              .pull-right(class=label)= item.alert
            - if (typeof item.icon !== 'undefined')
              em(class=item.icon)
            span(data-localize=item.translate)= item.text

// START Sidebar (left)
.aside-inner
  nav.sidebar(data-sidebar-anyclick-close="")

    div.hamburger
      // Button used to collapse the left sidebar. Only visible on tablet and desktops
      a(href='#', data-toggle-state="aside-collapsed").hidden-xs
        em.icon-left-arrow
      // Button to show/hide the sidebar on mobile. Visible on mobile only.
      a(href='#', data-toggle-state="aside-toggled", data-no-persist="true").visible-xs.sidebar-toggle
        em.icon-right-arrow

    // START sidebar nav
    ul.nav
      // Iterates over all sidebar items
      +build_sidebar_tree(sidebar)
    // END sidebar nav

    ul.news_block
      li
        a(href='#') English kerning must be better
      li
        a(href='#') Заголовок новости 1 длинный заголовок, в 3 строки.
      li
        a(href='#') Заголовок новости 2, в 2 строчки.
      li
        a(href='#') Заголовок новости 3

// END Sidebar (left)
